.header {
    height: 70px;
    border-bottom: 1px solid var(--color-gray-opacity-12);
    padding: 16px 0;
}

.bg-color-white {
    background-color: var(--color-white);
}

.header-wrapper {
    width: 80%;
}

.search {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--icon-color);
    border-radius: 50%;
}

.search::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 9px;
    width: 7px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--icon-color);
    transform: rotate(45deg);
}

.header-link-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.btn-login {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 32px;
    color: var(--color-gray);
    background: url("../images/header/account-logo.svg") no-repeat left center;
}